<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div id="width-container">
                <div class="logo-container">
                    <img id="logo">
                </div>
                <h1>
                    AI Text Analysis
                </h1>
            </div>
        </header>

        <main>

            <section>
                <p id="instructions">
                    Use the field below to enter the URL of any webpage
                    containing an article. The app will extract the article
                    from the page, then use Natural Language Processing to
                    categorize the content and tone of the article. All results
                    include the algorithm's confidence score
                </p>
            </section>

            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input id="name" type="text" name="input" value="" placeholder="Enter a valid URL...">
                    <input type="submit" name="" value="Analyze Text" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
              <table summary="This is where text analysis results will appear">
                  <caption><strong>Text Analysis Results</strong></caption>
                  <tbody id="taxonomy"></tbody>
                  <tbody id="sentiment"></tbody>
              </table>
            </section>
        </main>

        <footer>
            <p>
                ©2020 Paul M. Reese, powered by <a
                    href="https://aylien.com/"
                    target="_blank"
                    ref="noopener nofollow">the Aylien API</a>
            </p>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>
