%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body {
    @extend %flex-column;
    align-self: center;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 2;
    @extend %flex-column;
    align-items: center;
}

section {
    width: 100%;
    max-width: 800px;
    @extend %flex-column;
    table {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}
