//TODO: Add media queries for screens under 500px(maybe max-width: 80%?)
footer {
    align-self: center;
    max-width: 960px;
    padding: 20px 0 12px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 90px -10px 10px white;
    //to have content hide behind footer
    z-index: 2;
    p {
        line-height: 20px;
      }
}
