//TODO: Add media queries for screens under 500px(title crowds logo)
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 15px 50px 10px;
    width: 100%;
    max-width: 960px;
    box-shadow: 90px 6px 10px white;
    //to have content hide behind header
    z-index: 2;

    div {
        display: inline-flex;
        padding: 0;
        margin: 0;
        min-width: 20px;
        width: auto;
        max-width: 350px;
    }

    img {
        max-height: 70px;
        margin: 5px 0 10px 30px;
    }

    h1 {
      display: inline-flex;
      text-align: right;
      max-width: 400px;
      padding-right: 30px;
      font: 2em sans-serif;
    }
}
