header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 0;
    width: 100%;
    max-width: 960px;

    div {
        display: inline-flex;
        padding: 0;
        margin: 0;
        min-width: 20px;
        width: auto;
        max-width: 350px;
    }

    img {
        width: 20px;
        height: 20px;
    }

    h1 {
      display: inline-flex;
      text-align: right;
      max-width: 400px;
    }
}
