table {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #000;
    border-collapse: separate;
    border-radius: 3px;
    border-spacing: 5px 5px;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0);
    background: white;
    padding: 5px 30px;
    margin-bottom: 20px;
    max-width: 80%;
    align-self: center;
    text-align: center;

    tbody {
        tr {
            width: 100%;
            td, th {
                padding: 0 6px;
            }
            .iab-category, .analysis-type, .sentiment-type{
                padding-top: 5px;
            }
        }
    }
}

.positive {
    color: #182;
    font-weight: bold;
}

.negative {
    color: #f33;
    font-weight: bold;
}
